/*
* Authors: Dmitry Bashmakov, Mathias Donath, Lidiya Sokolovskya
* Date Created: April 8, 2019
* Last Modified: April 10, 2019
* Main Purpose: CSS component for filling out form to add an assignment by a teacher and submitting it.
*/
.form {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 90%;
}

.example-full-width {
    width: 90%;
}

.example-half-width {
    width: 45%;
}

td {
    padding-right: 8px;
}


mat-form-field {
    margin-right: 12px;
}
