<h3>Add Assignment</h3>

<form (ngSubmit)="onSubmit()" [formGroup]="addAssignmentForm" fxLayout="column" fxLayoutAlign="center center">
  <mat-form-field class="example-full-width">
    <input matInput formControlName="title" placeholder="Subject">
  </mat-form-field>

<div class="example-full-width">
  <mat-form-field>
    <input matInput formControlName="releaseDate" [matDatepicker]="releaseDate" placeholder="Release Date">
    <mat-datepicker-toggle matSuffix [for]="releaseDate"></mat-datepicker-toggle>
    <mat-datepicker #releaseDate></mat-datepicker>
  </mat-form-field>


  <mat-form-field>
    <input matInput formControlName="dueDate"[matDatepicker]="DueDate" placeholder="Due Date">
    <mat-datepicker-toggle matSuffix [for]="DueDate"></mat-datepicker-toggle>
    <mat-datepicker #DueDate></mat-datepicker>
  </mat-form-field>
</div>

  <mat-form-field class="example-full-width">
    <textarea matInput formControlName="body" placeholder="Assignment Description"></textarea>
  </mat-form-field>

  <mat-card-actions>
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </mat-card-actions>
</form>
