<h3>Add Assignment</h3>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Subject" value="">
  </mat-form-field>

<div class="example-full-width">
  <mat-form-field>
    <input matInput [matDatepicker]="releaseDate" placeholder="Release Date" [formControl]="date">
    <mat-datepicker-toggle matSuffix [for]="releaseDate"></mat-datepicker-toggle>
    <mat-datepicker #releaseDate></mat-datepicker>
  </mat-form-field>


  <mat-form-field>
    <input matInput [matDatepicker]="DueDate" placeholder="Due Date" [formControl]="date">
    <mat-datepicker-toggle matSuffix [for]="DueDate"></mat-datepicker-toggle>
    <mat-datepicker #DueDate></mat-datepicker>
  </mat-form-field>
</div>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Assignment Description"></textarea>
  </mat-form-field>

  <button mat-raised-button color="accent">Add</button>
</form>
