<!--* Authors: Dmitry Bashmakov, Mathias Donath, Josh Fagen, Lidiya Sokolovskya
* Date Created: April 8, 2019
* Last Modified: April 10, 2019
* Main Purpose: HTML component to show all announcements currently on the announcement board.-->

<div class="inline">
<h3>Announcements </h3>
  <!--If user is logged in as a teacher, display add announcement button-->
<p *ngIf="nav.role == 'teacher';">
  <button mat-raised-button color="accent" routerLink="/addannouncement">Add announcement</button>
</p>
</div>

<!--Allow for pagination of announcements-->

<mat-paginator [length]="announcements.length"
               [pageSize]="10"
               [pageSizeOptions]="[1, 5, 10, 50]"
               [showFirstLastButtons]="true" [length]="totalSize"
               [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)">

</mat-paginator>

<mat-accordion multi="true" class="my-headers-align">
  <!--Use reverse pipe to display announcements beginning with most recently posted-->
  <div *ngFor="let announcement of announcements | reverse;">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Announcement #{{announcement.id}}
        </mat-panel-title>
        <mat-panel-title>
          Teacher ID: {{announcement.teacherid}}
        </mat-panel-title>
        <mat-panel-title>
          Date: {{announcement.date | date: 'mediumDate'}}
        </mat-panel-title>
        <mat-panel-description>
          Subject: {{announcement.title}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div [innerHTML]="announcement.body"></div>
      <!--Display Edit and Delete Buttons if teacher is logged in-->
      <div class="inline" *ngIf="nav.role == 'teacher';">
        <button mat-raised-button color="primary" routerLink="/editannouncement/{{announcement.id}}">Edit</button>
        <button mat-raised-button color="warn" routerLink="/deleteannouncement/{{announcement.id}}">Delete</button>
    </div>
      <!--Display Mark as Read Button if student is logged in-->
    <div class="inline" *ngIf="nav.role == 'student';">
      <button mat-raised-button color="primary" (click)="mark(announcement.id)">Mark as Read</button>
    </div>
    </mat-expansion-panel>
  </div>
</mat-accordion>


