<!--* Authors: Dmitry Bashmakov, Mathias Donath, Josh Fagen, Lidiya Sokolovskya
* Date Created: April 9, 2019
* Last Modified: April 11, 2019
* Main Purpose: HTML component to show all assignments, current and submitted.-->

<!--<p *ngFor="let assignment of assignments">{{assignment.id}}</p>-->
<div class="inline">
<h3>Assignments</h3>
<p *ngIf="nav.role == 'teacher'">
<button mat-raised-button color="accent" routerLink="/addassignment">Add assignment</button>
</p>
</div>



<mat-tab-group mat-align-tabs="end">
    <mat-tab label="All"><mat-accordion multi="true" class="my-headers-align">
        <div *ngFor="let assignment of assignments | reverse;">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <!--User ID: {{assignment.userid}}-->
                    </mat-panel-title>
                    <mat-panel-title>
                        ID: {{assignment.id}}
                    </mat-panel-title>
                    <mat-panel-title>
                        Percent: {{assignment.weight}}
                    </mat-panel-title>
                    <mat-panel-title>
                        Subject: {{assignment.title}}
                    </mat-panel-title>
                    <mat-panel-title>
                        Release Date: {{assignment.releaseDate | date:'mediumDate'}}
                    </mat-panel-title>
                    <mat-panel-title>
                        Due Date: {{assignment.dueDate | date: 'mediumDate'}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="showSummary" [innerHTML]="assignment.body"></div>

                <div class="inline" *ngIf="nav.role == 'teacher'">
                    <button mat-raised-button color="primary" routerLink="/gradeassignment/{{assignment.id}}">View Submissions</button>
                    <button mat-raised-button color="warn" routerLink="/editAssignment">Edit Assignment</button>
                </div>
                <div class="inline" *ngIf="nav.role == 'student'"><button mat-raised-button color="warn" routerLink="/submitassignment/{{assignment.id}}">Submit assignment</button></div>


                <!--<button mat-raised-button color="accent" routerLink="/seasons/{{show.id}}">Details</button>-->
            </mat-expansion-panel>
        </div>
    </mat-accordion>
    </mat-tab>
    <mat-tab label="Ongoing">


        <mat-accordion multi="true" class="my-headers-align">
        <div *ngFor="let ongoingAgnmt of ongoing">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <!--User ID: {{assignment.userid}}-->
                    </mat-panel-title>
                    <mat-panel-title>
                        ID: {{ongoingAgnmt.id}}
                    </mat-panel-title>
                    <mat-panel-title>
                        Percent: {{ongoingAgnmt.weight}}
                    </mat-panel-title>
                    <mat-panel-title>
                        Subject: {{ongoingAgnmt.title}}
                    </mat-panel-title>
                    <mat-panel-title>
                        Release Date: {{ongoingAgnmt.releaseDate | date:'mediumDate'}}
                    </mat-panel-title>
                    <mat-panel-title>
                        Due Date: {{ongoingAgnmt.dueDate | date: 'mediumDate'}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="showSummary" [innerHTML]="ongoingAgnmt.body"></div>

                <div class="inline" *ngIf="nav.role == 'teacher'">
                    <button mat-raised-button color="primary" routerLink="/gradeassignment/{{assignment.id}}">View Submissions</button>
                    <button mat-raised-button color="warn" routerLink="/editAssignment">Edit Assignment</button>
                </div>
                <div class="inline" *ngIf="nav.role == 'student'"><button mat-raised-button color="warn" routerLink="/submitassignment/{{assignment.id}}">Submit assignment</button></div>


                <!--<button mat-raised-button color="accent" routerLink="/seasons/{{show.id}}">Details</button>-->
            </mat-expansion-panel>
        </div>
    </mat-accordion>


    </mat-tab>


    <mat-tab label="Completed">
        <mat-accordion multi="true" class="my-headers-align">
            <div *ngFor="let completedAgnmt of due">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <!--User ID: {{assignment.userid}}-->
                        </mat-panel-title>
                        <mat-panel-title>
                            ID: {{completedAgnmt.id}}
                        </mat-panel-title>
                        <mat-panel-title>
                            Percent: {{completedAgnmt.weight}}
                        </mat-panel-title>
                        <mat-panel-title>
                            Subject: {{completedAgnmt.title}}
                        </mat-panel-title>
                        <mat-panel-title>
                            Release Date: {{completedAgnmt.releaseDate | date:'mediumDate'}}
                        </mat-panel-title>
                        <mat-panel-title>
                            Due Date: {{completedAgnmt.dueDate | date: 'mediumDate'}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="showSummary" [innerHTML]="completedAgnmt.body"></div>

                    <div class="inline" *ngIf="nav.role == 'teacher'">
                        <button mat-raised-button color="primary" routerLink="/gradeassignment/{{assignment.id}}">View Submissions</button>
                        <button mat-raised-button color="warn" routerLink="/editAssignment">Edit Assignment</button>
                    </div>
                    <div class="inline" *ngIf="nav.role == 'student'"><button mat-raised-button color="warn" routerLink="/submitassignment/{{assignment.id}}">Submit assignment</button></div>


                    <!--<button mat-raised-button color="accent" routerLink="/seasons/{{show.id}}">Details</button>-->
                </mat-expansion-panel>
            </div>
        </mat-accordion>
    </mat-tab>
    <mat-tab label="Upcoming">
        <mat-accordion multi="true" class="my-headers-align">
            <div *ngFor="let upcomingAgnmt of upcoming">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <!--User ID: {{assignment.userid}}-->
                        </mat-panel-title>
                        <mat-panel-title>
                            ID: {{upcomingAgnmt.id}}
                        </mat-panel-title>
                        <mat-panel-title>
                            Percent: {{upcomingAgnmt.weight}}
                        </mat-panel-title>
                        <mat-panel-title>
                            Subject: {{upcomingAgnmt.title}}
                        </mat-panel-title>
                        <mat-panel-title>
                            Release Date: {{upcomingAgnmt.releaseDate | date:'mediumDate'}}
                        </mat-panel-title>
                        <mat-panel-title>
                            Due Date: {{upcomingAgnmt.dueDate | date: 'mediumDate'}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="showSummary" [innerHTML]="upcomingAgnmt.body"></div>

                    <div class="inline" *ngIf="nav.role == 'teacher'">
                        <button mat-raised-button color="primary" routerLink="/gradeassignment/{{assignment.id}}">View Submissions</button>
                        <button mat-raised-button color="warn" routerLink="/editAssignment">Edit Assignment</button>
                    </div>
                    <div class="inline" *ngIf="nav.role == 'student'"><button mat-raised-button color="warn" routerLink="/submitassignment/{{assignment.id}}">Submit assignment</button></div>


                    <!--<button mat-raised-button color="accent" routerLink="/seasons/{{show.id}}">Details</button>-->
                </mat-expansion-panel>
            </div>
        </mat-accordion>
    </mat-tab>
</mat-tab-group>