/*
* Authors: Dmitry Bashmakov, Mathias Donath, Josh Fagen, Lidiya Sokolovskya
* Date Created: April 9, 2019
* Last Modified: April 14, 2019
* Main Purpose: CSS component to show all assignments, current and submitted.
*/
mat-panel-title {
    width: 17%;
    font-size: 14px;
}

mat-panel-description {
    width: 17%;
    font-size: smaller;
}


.inline {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 3%;
    margin-left: 3%;
}

