<!-- Authors: Dmitry Bashmakov, Mathias Donath, Lidiya Sokolovskya
* Date Created: April 9, 2019
* Last Modified: April 15, 2019
* Main Purpose: HTML component to create top banner and side navbar -->

<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">

    <mat-toolbar>{{this.title}}</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="home">Home/Announcements</a>
      <a mat-list-item routerLink="assignments">Assignments</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content >
    <mat-toolbar color="primary">
      <div>
        <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      Homepage for COMP 201: Introduction to Web Development
      </div>

      <!--Display buttons for teacher login/student login/logout, The buttons adjust the user's role. With a more robust login system, there would be just one button displayed at a time (login/logout)-->
      <div style="margin-left: 25%;">
        <button *ngIf="!(this.role == 'teacher')" type="button" color="accent"
                mat-raised-button
                style="margin: 10px;"
                (click)="logIn('teacher')">Teacher</button>
        <button *ngIf="!(this.role == 'student')" type="button" color="accent"
                mat-raised-button
                style="margin:10px;"
                (click)="logIn('student')">Student</button>
        <button type="button" color="warn" mat-raised-button
                *ngIf="this.role != ''"
                (click)="logIn('none')">Logout</button>

      </div>

    </mat-toolbar>

    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
