<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>{{this.title}}</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="home">Home/Announcements</a>
      <a mat-list-item routerLink="assignments">Assignments</a>
      <a mat-list-item routerLink="login">Login</a>
      <a *ngIf="teacherLoggedIn" mat-list-item routerLink="teacher">Teacher's cabinet</a>
      <a *ngIf="studentLoggedIn"mat-list-item routerLink="student">Student's cabinet</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div>
        <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      Homepage for COMP 201: Introduction to Web Development
      </div>
      <div style="margin-left: 35%;">
        <button *ngIf="!(this.teacherIsLoggedIn)" type="button" color="accent"
                mat-raised-button
                style="margin: 10px;"
                routerLink="/home/teacher">Teacher</button>
        <button *ngIf="!(this.studentIsLoggedIn)" type="button" color="warn"
                mat-raised-button
                style="margin:10px;" routerLink="/home/student">Student</button>
        <button *ngIf="this.studentLoggedIn || this.teacherLoggedIn">Logout</button>

      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
