<h2>{{this.assignmentId}}</h2>
<!--<h2>{{assignment.title}}<</h2>-->
<!--<form (ngSubmit)="onSubmit()" [formGroup]="addGradeForm" fxLayout="column" fxLayoutAlign="center center">-->
<!--<div *ngIf="assignments">-->
<!--<div style="padding: 32px" *ngFor="let assignment of assignments">-->
<!--<p  *ngIf="assignment.id == this.assignmentId;" >{{assignment.id}} {{assignment.date | date: medium}} {{assignment.studentid}} {{assignment.submission}}</p>-->








<div style="padding: 32px">

<div class="example-container mat-elevation-z8">

    <mat-table #table [dataSource]="assignments" >


      <ng-container matColumnDef="ass_id">
        <mat-header-cell *matHeaderCellDef [ngClass]="'customWidthClass'"> ass_id </mat-header-cell>
        <mat-cell *matCellDef="let element" [ngClass]="'customWidthClass'"> {{element.assignmentId}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="studentid">
        <mat-header-cell *matHeaderCellDef [ngClass]="'customWidthClass'"> Student ID </mat-header-cell>
        <mat-cell *matCellDef="let element" [ngClass]="'customWidthClass'"> {{element.studentid}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef [ngClass]="'customWidthClass'"> Date </mat-header-cell>
        <mat-cell *matCellDef="let element " [ngClass]="'customWidthClass'"> {{element.date}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="submission" [ngClass]="'flex-item'">
        <mat-header-cell *matHeaderCellDef > submission </mat-header-cell>
        <mat-cell *matCellDef="let element" > {{element.submission}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="currentgrade" >
        <mat-header-cell *matHeaderCellDef > current grade </mat-header-cell>
        <mat-cell *matCellDef="let element" > {{element.grade}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="grade">
        <mat-header-cell *matHeaderCellDef> Grade (from 0 to 100) </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-form-field >
            <input matInput placeholder="Add Grade" type="number" min="0" max="100" step="1">
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="submitGrade">

        <mat-header-cell *matHeaderCellDef [ngClass]="'customWidthClass'"> Submit Grade </mat-header-cell>
        <mat-cell *matCellDef="let element" [ngClass]="'customWidthClass'">
          <button mat-raised-button id = "{{element.studentid}}" (click)="addGrade(element.studentid)">Save</button>
        </mat-cell>
      </ng-container>



      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

  </div>

</div>

<!--</form>-->
