<h1>Checking ... </h1>


<div style="padding: 32px">

  <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="data">

      <!-- Name Column -->
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef> Student ID </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="grade">
        <mat-header-cell *matHeaderCellDef> Grade </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-form-field >
            <input matInput placeholder="Add Grade" type="number">
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="submitGrade">
        <mat-header-cell *matHeaderCellDef> Submit Grade </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-raised-button>Save</button>
        </mat-cell>
      </ng-container>


      <!-- Comment Column -->
      <!--<ng-container matColumnDef="comment">
        <mat-header-cell *matHeaderCellDef> Grade </mat-header-cell>
        <mat-cell *matCellDef="let element" [satPopoverAnchorFor]="p" (click)="p.open()">
          <ng-container *ngIf="element.comment">
            {{element.comment}}
          </ng-container>
          <span class="add-grade" *ngIf="!element.comment">
            Add a comment
          </span>

          <sat-popover #p
                       hasBackdrop
                       xAlign="start"
                       yAlign="start"
                       (closed)="update(element, $event)">
            <inline-edit [value]="element.comment"></inline-edit>
          </sat-popover>
        </mat-cell>
      </ng-container>
-->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

  </div>

</div>
