
/*
* Authors: Dmitry Bashmakov, Mathias Donath, Josh Fagen, Lidiya Sokolovskya
* Date Created: April 10, 2019
* Last Modified: April 11, 2019
* Main Purpose: HTML component for filling out form to add an announcement by a teacher and submitting it to the announcement board.
*/


<h3>Add Announcement</h3>

<form (ngSubmit)="onSubmit()" [formGroup]="addAnnouncementForm" fxLayout="column" fxLayoutAlign="center center">

  <mat-form-field class="example-full-width">
    <input matInput formControlName="title" placeholder="Subject">
  </mat-form-field>

<div>
  <mat-form-field>
    <input matInput formControlName="date" [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>



  <mat-form-field class="example-full-width">
    <textarea matInput formControlName="body" placeholder="Announcement Description"></textarea>
  </mat-form-field>





  <mat-card-actions>
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </mat-card-actions>
</form>
