/*
* Authors: Dmitry Bashmakov, Mathias Donath, Josh Fagen, Lidiya Sokolovskya
* Date Created: April 10, 2019
* Last Modified: April 11, 2019
* Main Purpose: CSS component for filling out form to add an announcement by a teacher and submitting it to the announcement board.
*/
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 90%;
}

.example-full-width {
    width: 90%;
}

.example-half-width {
    width: 45%;
}

td {
    padding-right: 8px;
}


mat-form-field {
    margin-right: 12px;
}
